/* Reset CSS
		 * --------------------------------------- */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
th,
td {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

table {
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
  margin: auto
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: bold;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #444;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
}


/**
      * Vertical rhythm by Syncope
      * http://nowodzinski.pl/syncope
      */

html,
body {
  font-size: calc(16px + .5vmin);
  line-height: 1.6em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 2.06em;
  line-height: 1.58em;
  padding-top: 0.455em;
  margin-bottom: 0.333em;
}

h2 {
  font-size: 1.75em;
  line-height: 1.86em;
  padding-top: 0.571em;
  margin-bottom: 0.357em;
}


/* h3 */

p {
  font-size: 1.44em;
  line-height: 1.13em;
  padding-top: 0.217em;
  margin-bottom: 0.913em;
}


/* from remarkJS demo */
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

.remark-code,
.remark-inline-code {
  font-family: 'Ubuntu Mono';
}


/* invers (Frontpage)  */

.inverse a,
.inverse a:visited {
  color: currentColor;
  text-decoration: none;
  border-bottom: 0.5px solid;
}
.inverse {
  background: url("https://pkra.github.io/xmlsummerschool2017/img/xml-oxford.jpg") no-repeat center top;
}


/* reset some remark styles */

.remark-container {
  background: white;
}

.remark-slide-scaler {
  box-shadow: none;
}

/* CUSTOM header, footer */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer {
  position: absolute;
  bottom: 0px;
}

.header,
.footer {
  background-color: yellow;
}

.header {
  min-height: 10vh;
}

.footer {
  display: flex;
  min-height: 5vh;
  font-size: smaller;
  width: 100%;
  z-index: 100;
}

.footer,
.footer-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-child {
  margin: 1em;
  /*   max-width: 50vw; */
}

.logo {
  margin: 0.5em;
  font-size: smaller;
}

.license {
  font-size: small;
}

@media all and (max-width: 51em) {
  .license {
    display: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flexcol {
  display: inline-flex;
  flex-direction: column;
  margin-top: 1em
}

blockquote {
  margin-bottom: 2em;
  font-variant: italic;
  font-weight: bolder;
}

.name {
  background-color: white;
  border-radius: 5px;
  padding: 0 5px;
}

.bg-white {
  background-color: white!important
}

/* ol {
  list-style-type: decimal;
}
*/
ul{
  list-style-type: disc;
}

li {
  text-align: left;
}

li+li {
  margin-top: .25em;
}

.remark-slide-container{
  height: 80vh
}

@media print {
  details { display:block !important; }
}
